/* General style & font */

body {
    background-color: whitesmoke;
}

p {
    color: grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 9pt;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    font-weight: 500;
}

/* Header */

header {
    margin: auto;
    text-align: center;
}

header p {
    font-size: 12pt;
}

/* Card */

.flexMother {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.white {
    height: 350px;
    width: calc(( 100% / 4) - 10px);
    min-width: 250px;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profilePhoto {
    height: 65px;
    width: 65px;
    border-radius: 90%;
    align-self: center;
}

.address {
    font-size: 8px;
}

/* Social media line */

.socialMedia {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-around;
}

.border {
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    border-radius: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: grey;
    font-size: small;
}

/* Order */

.Robert {
    order:1;
}

.Deanna {
    order: 2;
}

.Sammy {
    order: 3;
}

.James {
    order: 4;
}

.Claudette {
    order: 5;
}

.Bruce {
    order: 6;
}

.Amber {
    order: 7;
}

.Adriana {
    order: 8;
}

@media all and (max-width: 760px) {

   white {
     width: calc(( 100% / 2) - 10px);
     margin: 0;
   } 
}

@media all and (max-width: 480px) {

    white {
      width: calc(100% / 4 - 10px);
      margin: 0;
    } 
 }
